<div class="accordion-group">
	<div class="accordion-heading">
		<a id="item_<%= id_convert(psf_item.title) %>_<%=psf_item.id %>" class="accordion-toggle <%= psf_item.approved? ? 'un-approved-item' : 'approved-item' %>" data-toggle="collapse" data-parent="#psf-accordion" href="#collapseItem_<%= id_convert(psf_item.title) %>_<%=psf_item.id %>"><i class="icon-list-alt"></i>
			<%= psf_item.title.upcase %>&nbsp;|&nbsp;<%= psf_item.project_manager == nil || "" ? get_user(psf_item).name.upcase : psf_item.project_manager.upcase %>
		</a>
	</div>
	<div id="collapseItem_<%= id_convert(psf_item.title) %>_<%=psf_item.id %>" class="accordion-body collapse">
		<div class="accordion-inner">
			<h5>Phone:&nbsp;<%= number_to_phone(get_user(psf_item).phone, area_code: true) %></h5>
			<h5>E-mail:&nbsp;<%= mail_to(get_user(psf_item).email, get_user(psf_item).email, subject: "Your PSF Form: #{psf_item.title}") %></h5>
			<h5>Budget:&nbsp;<%= number_to_currency(psf_item.budget) %></h5>
			<h5>Date:&nbsp;<%= psf_item.start_date %></h5>
			<h5>Location:&nbsp;<%= psf_item.location.titlecase %></h5>

			<div class="row-fluid psf-controls">
				<div class="span4">
					<% if psf_item.approved? %>
					<%= link_to approve_link_text(psf_item), toggle_approve_project_summary_form_path(psf_item), remote: true, id:"approve_link_#{psf_item.id}", class:"btn btn-danger btn-block", method: :put %>
					<% else %>
					<%= link_to approve_link_text(psf_item), toggle_approve_project_summary_form_path(psf_item), remote: true, id:"approve_link_#{psf_item.id}", class:"btn btn-success btn-block", method: :put %>
					<% end %>
				</div>
				<div class="span4">
					<% if current_user.id == psf_item.user.id %>
					<%= link_to 'Discard Item', psf_item, method: :delete, class:"btn btn-warning btn-block no-bottom demo-button button yellow", data: { confirm: "Delete: #{psf_item.title}", title: psf_item.title } %>
					<% end %>
				</div>
				<div class="span4">
					<%= link_to 'View Checklist', psf_item, class:"btn btn-info btn-block no-bottom demo-button button yellow" %>
				</div>

			</div>
		</div>
	</div>
</div>

<hr>