<% if user_signed_in? %>
	<%= render 'home_content' %>
<% else %>
	<div class="center hero-unit">
		<h1>NOS Management System</h1>

		<p>
			This is the home page for the
			<a href="http://github.com/jacobichou/nos">NOS</a>
			Management System.
		</p>

		<%= link_to "Sign up now!", new_user_registration_path, class: "btn btn-large btn-primary" %>
	</div> <br>

	<div class="decoration"></div>
	   
	<div class="container no-bottom">
		<h5 class="uppercase">THIS IS NOSSYM</h5>
		<p>The online management system for New Creation Christian Fellowship! </p> 
	</div>

	<div class="decoration"></div>

	<div class="container">
		<%= image_tag "icons-large/icon1@2x.png", class: "column-icon", width:"85", alt:"img" %>
		<h6 class="uppercase">Get in touch with us quickly!</h6>
		<p class="no-bottom">We've brought our paper forms online for faster submission and easier management! </p> 
	</div> 

	<div class="container">
		<%= image_tag "icons-large/icon2@2x.png", class: "column-icon", width:"85", alt:"img" %>
		<h6 class="uppercase">Very well optimized!</h6>
		<p class="no-bottom">The online service is engineered to help productivity. As such, it has been designed with mobile usage in mind! </p> 
	</div> 

	<div class="container">
		<%= image_tag "icons-large/icon3@2x.png", class: "column-icon", width:"85", alt:"img" %>
		<h6 class="uppercase">Documented for everyone!</h6>
		<p class="no-bottom">We are making sure you will have help using the system by keeping helpful guides covering basic functionality! </p> 
	</div>
<% end %>