<%= form_for(@project_summary_form) do |f| %>
<%= render 'shared/error_messages', object: f.object %>

<fieldset>

  <div class="row-fluid">
    <div class="span12">
      <h4>Additional requests for Pastor Copeland:</h4>

      <!-- <= f.label :purpose, "Purpose of event:", class:"span12" %> -->
      <!-- <= f.text_field :additional_requests, placeholder: "e.g. A token of her appreciation", class:"span12" %> -->

      <div class="input-prepend">
        <span class="add-on">Requests:</span>
        <%= f.text_field :additional_requests, placeholder: "e.g. A token of her appreciation", class:"span12" %>
      </div>

    </div>
  </div>

  <hr>
<h4 class="muted">Separate items with a comma(,)</h4> <br>
  <div class="row-fluid">
    <div class="span12">
      <!-- <= f.label :purpose, "Purpose of event:", class:"span12" %> -->
      <%= f.text_field :facilities, placeholder: "Factilities", class:"span12" %>

      <!-- <= f.label :audience, "Target audience:", class:"span12" %> -->
      <%= f.text_field :comm, placeholder: "Production & Audio/Visual", class:"span12" %>

      <!-- <= f.label :outcome, "Expected outcome:", class:"span12" %> -->
      <%= f.text_field :worship_council, placeholder: "Worship Council", class:"span12" %>

      <!-- <= f.label :outcome, "Expected outcome:", class:"span12" %> -->
      <%= f.text_field :day_staff, placeholder: "Day staff", class:"span12" %>

      <!-- <= f.label :outcome, "Expected outcome:", class:"span12" %> -->
      <%= f.text_field :menu, placeholder: "The menu", class:"span12" %>

      <!-- <= f.label :outcome, "Expected outcome:", class:"span12" %> -->
      <%= f.text_field :greeters, placeholder: "Greeters", class:"span12" %>

      <!-- <= f.label :outcome, "Expected outcome:", class:"span12" %> -->
      <%= f.text_field :ushers, placeholder: "Ushers", class:"span12" %>

      <!-- <= f.label :outcome, "Expected outcome:", class:"span12" %> -->
      <%= f.text_field :ministry_leader, placeholder: "Ministry Leader", class:"span12" %>

      <!-- <= f.label :outcome, "Expected outcome:", class:"span12" %> -->
      <%= f.text_field :marketing, placeholder: "Marketing", class:"span12" %>

      <!-- <= f.label :outcome, "Expected outcome:", class:"span12" %> -->
      <%= f.text_field :decorations, placeholder: "Decorations", class:"span12" %>
    </div>
  </div>

  <hr>

  <div class="actions center">
    <%= f.submit 'Submit', class:"btn btn-large btn-primary btn-block" %>
  </div>
</fieldset>

<% end %>