<%= form_for(@project_summary_form) do |f| %>
	<%= render 'shared/error_messages', object: f.object %>

  <fieldset>
    <div class="row-fluid">
      <div class="">
        <label class="radio inline">
          <%= f.radio_button :type, "Van Request" %>
          Van Request
        </label>
        <label class="radio inline">
          <%= f.radio_button :type, "Facility/Meeting Request" %>
          Facility/Meeting Request
        </label>
        <label class="radio inline">
          <%= f.radio_button :type, "Event/Project" %>
          Event/Project
        </label>
      </div>
    </div>

    <hr>

    <div class="row-fluid">
      <div class="">
        <!-- <= f.label :title, "Event Title:", class:"" %> -->
        <%= f.text_field :title, placeholder: "Event Title", class:"" %>

        <!-- <= f.label :location, "Location:", class:"" %> -->
        <%= f.text_field :location, placeholder: "Location", class:"" %>
      </div>
    </div>
    <!-- add ajax person finder box -->

    <hr>

    <div class="row-fluid">
      <div class="">
        <div class="column">
          <div class="one-half">
            <div class="formFieldWrap">
              <%= f.label :start_time, "Start time", class:"" %>
              <%= f.time_field :start_time %>
            </div>
          </div>

          <div class="one-half">
            <div class="formFieldWrap">
              <%= f.label :end_time, "End time", class:"" %>
              <%= f.time_field :end_time %>
            </div>
          </div>
        </div>

        <div class="column">
          <div class="one-half">
            <div class="formFieldWrap">
              <%= f.label :start_date, "Start date", class:"" %>
              <%= f.date_field :start_date %>
            </div>
          </div>

          <div class="one-half">
            <div class="formFieldWrap">
              <%= f.label :end_date, "End day", class:"" %>
              <%= f.date_field :end_date %>
            </div>
          </div>
        </div>
      </div>
    </div>

    <hr>

    <div class="row-fluid">
      <div class="">
        <!-- <= f.label :frequency, "Indicate if recurring event by giving the frequency (e.g. Each Sunday after 8pm):", class:"" %> -->
        <%= f.text_field :frequency, placeholder: "Indicate if recurring event by giving the frequency (e.g. Each Sunday after 8pm)", class:"" %>

        <!-- <= f.label :frequency_exception, "Indicate exception for recurring event (e.g. the date during Thanksgiving week):", class:"" %> -->
        <%= f.text_field :frequency_exception, placeholder: "Indicate exception for recurring event (e.g. the date during Thanksgiving week)", class:"" %>
      </div>
    </div>

    <hr>

    <div class="row-fluid">
      <div class="span3">
        <!-- <= f.label :purpose, "Purpose of event:", class:"" %> -->
        <%= f.text_area :purpose, placeholder: "Purpose of event", class:"" %>

        <!-- <= f.label :audience, "Target audience:", class:"" %> -->
        <%= f.text_field :audience, placeholder: "Target audience", class:"" %>

        <!-- <= f.label :outcome, "Expected outcome:", class:"" %> -->
        <%= f.text_field :outcome, placeholder: "Expected outcome", class:"" %>
      </div>
      <div class="span3">
        <div class="input-prepend input-append">
          <span class="add-on">$</span>
          <%= f.number_field :budget, placeholder: "Budget (To nearest dollar)", class:"" %>
          <span class="add-on">.00</span>
        </div>
      </div>

      <div class="span3">
        <div class="input-prepend input-append">
          <span class="add-on">$</span>
          <%= f.number_field :revenue, placeholder: "Estimated revenue (To nearest dollar)", class:"" %>
          <span class="add-on">.00</span>
        </div>
      </div>
    </div>

    <hr>

    <div class="row-fluid">
      <div class="">
        <!-- <= f.label :fee, "Event fee:", class:"" %> -->
        <%= f.number_field :fee, placeholder: "Event fee -- Do not use dollar sign", class:"" %> <br>

        <label class="radio inline">
          <%= f.radio_button :offering, "true" %>
          Yes
        </label>
        <label class="radio inline">
          <%= f.radio_button :offering, "false" %>
          No
        </label>
      </div>
    </div>

    <hr>

    <div class="actions center">
      <%= f.submit 'Submit', class:"buttonWrap button-minimal grey-minimal" %>
    </div>
  </fieldset>
<% end %>


