<div class="container">
	<h1>Editing</h1>
	<h3><%= @project_summary_form.title.titlecase %></h3>
</div>

<% unless @project_summary_form.reviewed? %>
	<%= render 'psf_form' %>
<% else %>
	<%= render 'full_summary_form' %>
<% end %>

<hr>
<%= link_to 'Show', @project_summary_form, class: "btn btn-info btn-large btn-block" %>
<%= link_to 'Back', home_path, class: "btn btn-large btn-block" %>
