<%= form_for(@project_summary_form) do |f| %>
<%= render 'shared/error_messages', object: f.object %>

<fieldset>

  <div class="row-fluid">
    <div class="span12">
      <!-- <= f.label :purpose, "Purpose of event:", class:"span12" %> -->
      <%= f.text_area :facilities, placeholder: "facilities", class:"span12" %>

      <!-- <= f.label :audience, "Target audience:", class:"span12" %> -->
      <%= f.text_field :comm, placeholder: "comm", class:"span12" %>

      <!-- <= f.label :outcome, "Expected outcome:", class:"span12" %> -->
      <%= f.text_field :worship_council, placeholder: "worship_council", class:"span12" %>
    </div>
  </div>

  <div class="actions center">
    <%= f.submit 'Submit', class:"btn btn-large btn-primary btn-block" %>
  </div>
</fieldset>

<% end %>