<div class="summary-view">
  <h1>
    New Creation Christian Fellowship <br>
    <small>of San Antonio, Tx</small>
  </h1>

  <hr>
  <%= link_to 'Add Checklist Details', full_summary_project_summary_form_path, class: "btn btn-large btn-info btn-block" %>
  <hr>

  <h4>Project:&nbsp;<span class="muted"><%= @project_summary_form.title.titlecase %></span></h4>
  <h4>Prepared <em>and</em> Submitted:&nbsp;<span class="muted"><%= @project_summary_form.created_at.strftime("%B %d %Y") %></span></h4>
  <h5>Request Type:&nbsp;<span class="muted"><%= @project_summary_form.request_type %></span></h5>

  <div class="row-fluid">
    <div class="span12">
      <dl class="dl-horizontal">
        <dt>Date(s):&nbsp;</dt>
        <dd><%= @project_summary_form.start_date.nil? ? "----" : @project_summary_form.start_date.strftime("%A, %B %d %Y") %>&nbsp;<strong>thru</strong>&nbsp;<%= @project_summary_form.end_date.nil? ? "----" : @project_summary_form.end_date.strftime("%A, %B %d %Y") %>

          <dt>Time:&nbsp;</dt>
          <dd><%= @project_summary_form.start_time.nil? ? "----" : @project_summary_form.start_time.strftime("%I:%M %p") %>&nbsp;-&nbsp;<%= @project_summary_form.end_time.nil? ? "----" : @project_summary_form.end_time.strftime("%I:%M %p") %></dd>

          <dt>Frequency:&nbsp;</dt>
          <dd><%= @project_summary_form.frequency %></dd>

          <dt>Project Manager:&nbsp;</dt>
          <dd><%= @project_summary_form.user.name.titlecase %></dd>

          <dt>Phone:&nbsp;</dt>
          <dd><%= number_to_phone(@project_summary_form.user.phone) %></dd>

          <dt>Location:&nbsp;</dt>
          <dd><%= @project_summary_form.location.titlecase unless @project_summary_form.location.nil? %></dd>

          <dt>Purpose:&nbsp;</dt>
          <dd><%= @project_summary_form.purpose %></dd>

          <dt>Audience:&nbsp;</dt>
          <dd><%= @project_summary_form.audience %></dd>

          <dt>Outcome:&nbsp;</dt>
          <dd><%= @project_summary_form.outcome %></dd>

          <dt>Objectives:&nbsp;</dt>
          <dd>
            <ul>
              <%= li_prepare(@project_summary_form.objectives) %> <!-- /,\s*/ -->
            </ul>
          </dd>
        </dl>
      </div>
    </div>

    <h4>Receive from Pastor Copeland:</h4>

    <div class="row-fluid">
      <div class="span12">
        <dl class="dl-horizontal">
          <dt>Budget:&nbsp;</dt>
          <dd><%= number_to_currency(@project_summary_form.budget) %></dd>

          <dt>Income:&nbsp;</dt>
          <dd><%= number_to_currency(@project_summary_form.revenue) %></dd>
        </dl>

        <h5>Additional requests:</h5>
        <ul>
          <%= li_prepare(@project_summary_form.additional_requests) %>
        </ul>
      </div>
    </div>

    <hr>

    <h4>Requirements:</h4>

    <div class="row-fluid">
      <div class="span12">
        <dt>Facilities (Deacon Darryl Marbury):</dt>
        <dd><%= li_prepare(@project_summary_form.facilities) %></dd>
        <div id="send-details-facilities" class="send-details">
          <%= link_to "Notify Facilities", send_checklist_facilities_project_summary_form_path(@project_summary_form), remote: true, id:"send_checklist_facilities", class:"btn btn-info btn-block", data: { disable_with: "Sending..." } %>
        </div>

        <hr>

        <dt>Communications (Bishop Harker):</dt>
        <dd><%= li_prepare(@project_summary_form.comm) %></dd>
        <div id="send-details-comm" class="send-details">
          <%= link_to "Notify Communications", send_checklist_comm_project_summary_form_path(@project_summary_form), remote: true, id:"send_checklist_comm", class:"btn btn-info btn-block", data: { disable_with: "Sending..." } %>
        </div>

        <hr>

        <dt>Worship Council (Elder Renetha Macklin):</dt>
        <dd><%= li_prepare(@project_summary_form.worship_council) %></dd>
        <div id="send-details-worship" class="send-details">
          <%= link_to "Notify Worship Council", send_checklist_worship_project_summary_form_path(@project_summary_form), remote: true, id:"send_checklist_worship", class:"btn btn-info btn-block", data: { disable_with: "Sending..." } %>
        </div>

        <hr>

        <dt>Finance (Laura Peebles):</dt>
        <dd><%= li_prepare(@project_summary_form.day_staff) %></dd>
        <div id="send-details-finance" class="send-details">
          <%= link_to "Notify Finance", send_checklist_finance_project_summary_form_path(@project_summary_form), remote: true, id:"send_checklist_finance", class:"btn btn-info btn-block", data: { disable_with: "Sending..." } %>
        </div>

        <hr>

        <dt>Hospitality (Sister Sandra Ross):</dt>
        <dd><%= li_prepare(@project_summary_form.menu) %></dd>

        <dt>Greeters (Sister Sandra Ross):</dt>
        <dd><%= li_prepare(@project_summary_form.greeters) %></dd>

        <dt>Ushers (Sister Sandra Ross):</dt>
        <dd><%= li_prepare(@project_summary_form.ushers) %></dd>
        <div id="send-details-hospitality" class="send-details">
          <%= link_to "Notify Hospitality", send_checklist_hospitality_project_summary_form_path(@project_summary_form), remote: true, id:"send_checklist_hospitality", class:"btn btn-info btn-block", data: { disable_with: "Sending..." } %>
        </div>

        <hr>

        <dt>Decorations (Sister Nichelle Hosley):</dt>
        <dd><%= li_prepare(@project_summary_form.decorations) %></dd>
        <div id="send-details-decorations" class="send-details">
          <%= link_to "Notify Decorator", send_checklist_decorations_project_summary_form_path(@project_summary_form), remote: true, id:"send_checklist_decorations", class:"btn btn-info btn-block", data: { disable_with: "Sending..." } %>
        </div>
      </div>
    </div>

    <hr>

    <div class="row-fluid">
      <div class="span12">
        <div class="accordion" id="psf-more-info">
          <div class="accordion-group">
            <div class="accordion-heading">
              <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
                EXTRA INFORMATION...
              </a>
            </div>
            <div id="collapseOne" class="accordion-body collapse">
              <div class="accordion-inner">
                <dl class="dl-horizontal">
                  <dt>Frequency Exception:&nbsp;</dt>
                  <dd><%= @project_summary_form.frequency_exception %></dd>

                  <dt>Event Fee:&nbsp;</dt>
                  <dd><%= number_to_currency(@project_summary_form.fee) %></dd>

                  <dt>Offering Taken?:&nbsp;</dt>
                  <dd><%= @project_summary_form.offering %></dd>

                  <dt>Num of participants?:&nbsp;</dt>
                  <dd><%= @project_summary_form.num_participants %></dd>

                  <dt>Admin Comments:&nbsp;</dt>
                  <dd><%= @project_summary_form.comments %></dd>
                </dl>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <hr>
    <%= link_to 'Edit PSF Form', edit_project_summary_form_path(@project_summary_form), class: "btn btn-large btn-warning btn-block" %>
    <%= link_to 'Overview', home_path, class: "btn btn-large btn-block" %>

  </div>