<div class="summary-view">
  <h1>
    New Creation Christian Fellowship <br>
    <small>of San Antonio, Tx</small>
  </h1>

  <hr>
  <%= link_to 'Add Checklist Details', full_summary_project_summary_form_path, class: "btn btn-large btn-info btn-block" %>
  <hr>

  <h4>Project:&nbsp;<span class="muted"><%= @project_summary_form.title.titlecase %></span></h4>
  <h4>Prepared <em>and</em> Submitted:&nbsp;<span class="muted"><%= @project_summary_form.created_at.strftime("%B %d %Y") %></span></h4>
  <h5>Request Type:&nbsp;<span class="muted"><%= @project_summary_form.request_type %></span></h5>

  <div class="row-fluid">
    <div class="span12">
      <dl class="dl-horizontal">
        <dt>Date(s):&nbsp;</dt>
        <dd><%= @project_summary_form.start_date.strftime("%A, %B %d %Y") unless @project_summary_form.start_date.nil? %>&nbsp;<strong>thru</strong>&nbsp;<%= @project_summary_form.end_date.strftime("%A, %B %d %Y") unless @project_summary_form.nil? %>

          <dt>Time:&nbsp;</dt>
          <dd><%= @project_summary_form.start_time.strftime("%I:%M %p") unless @project_summary_form.start_time.nil? %>&nbsp;-&nbsp;<%= @project_summary_form.end_time.strftime("%I:%M %p") unless @project_summary_form.end_time.nil? %></dd>

          <dt>Frequency:&nbsp;</dt>
          <dd><%= @project_summary_form.frequency %></dd>

          <dt>Project Manager:&nbsp;</dt>
          <dd><%= @project_summary_form.user.name.titlecase unless @project_summary_form.user.name.nil? %></dd>

          <dt>Phone:&nbsp;</dt>
          <dd><%= number_to_phone(@project_summary_form.user.phone) %></dd>

          <dt>Location:&nbsp;</dt>
          <dd><%= @project_summary_form.location.titlecase unless @project_summary_form.location.nil? %></dd>

          <dt>Purpose:&nbsp;</dt>
          <dd><%= @project_summary_form.purpose %></dd>

          <dt>Audience:&nbsp;</dt>
          <dd><%= @project_summary_form.audience %></dd>

          <dt>Outcome:&nbsp;</dt>
          <dd><%= @project_summary_form.outcome %></dd>

          <dt>Objectives:&nbsp;</dt>
          <dd>
            <ul>
              <%= li_prepare(@project_summary_form.objectives, "objectives") %> <!-- /,\s*/ -->
            </ul>
          </dd>
        </dl>
      </div>
    </div>

    <h4>Receive from Pastor Copeland:</h4>

    <div class="row-fluid">
      <div class="span12">
        <dl class="dl-horizontal">
          <dt>Budget:&nbsp;</dt>
          <dd><%= number_to_currency(@project_summary_form.budget) unless @project_summary_form.budget.nil? %></dd>

          <dt>Income:&nbsp;</dt>
          <dd><%= number_to_currency(@project_summary_form.revenue) unless @project_summary_form.revenue.nil? %></dd>
        </dl>

        <h5>Additional requests:</h5>
        <ul>
          <%= li_prepare(@project_summary_form.additional_requests, "additional_requests") %>
        </ul>
      </div>
    </div>

    <hr>

    <h4>Requirements:</h4>

    <div class="row-fluid">
      <div class="span12">
        <dt>Facilities (Deacon Darryl Marbury):</h5>
          <dd><%= li_prepare(@project_summary_form.facilities, "facilities") %></dd>

          <dt>Communications (Bishop Harker):</dt>
          <dd><%= li_prepare(@project_summary_form.comm, "comm") %></dd>

          <dt>Worship Council (Elder Renetha Macklin):</dt>
          <dd><%= li_prepare(@project_summary_form.worship_council, "worship_council") %></dd>

          <dt>Finance (Laura Peebles):</dt>
          <dd><%= li_prepare(@project_summary_form.day_staff, "day_staff") %></dd>

          <dt>Hospitality (Sister Sandra Ross):</dt>
          <dd><%= li_prepare(@project_summary_form.menu, "menu") %></dd>

          <dt>Greeters (Sister Sandra Ross):</dt>

          <dd><%= li_prepare(@project_summary_form.greeters, "additional_requests") %></dd>

          <dt>Ushers (Sister Sandra Ross):</dt>
          <dd><%= li_prepare(@project_summary_form.ushers, "ushers") %></dd>

          <dt>Decorations (Sister Nichelle Hosley):</dt>
          <dd><%= li_prepare(@project_summary_form.decorations, "decorations") %></dd>
        </div>
      </div>

      <hr>

      <div class="row-fluid">
        <div class="span12">
          <div class="accordion" id="psf-more-info">
            <div class="accordion-group">
              <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
                  EXTRA INFORMATION...
                </a>
              </div>
              <div id="collapseOne" class="accordion-body collapse">
                <div class="accordion-inner">
                  <dl class="dl-horizontal">
                    <dt>Frequency Exception:&nbsp;</dt>
                    <dd><%= @project_summary_form.frequency_exception %></dd>

                    <dt>Event Fee:&nbsp;</dt>
                    <dd><%= number_to_currency(@project_summary_form.fee) unless @project_summary_form.fee.nil? %></dd>

                    <dt>Offering Taken?:&nbsp;</dt>
                    <dd><%= @project_summary_form.offering %></dd>

                    <dt>Num of participants?:&nbsp;</dt>
                    <dd><%= @project_summary_form.num_participants %></dd>

                    <dt>Admin Comments:&nbsp;</dt>
                    <dd><%= @project_summary_form.comments %></dd>
                  </dl>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <hr>
      <%= link_to 'Edit PSF Form', edit_project_summary_form_path(@project_summary_form), class: "btn btn-large btn-warning btn-block" %>
      <%= link_to 'Overview', home_path, class: "btn btn-large btn-block" %>

    </div>