<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @project_summary_form.title %>
</p>

<p>
  <strong>Location:</strong>
  <%= @project_summary_form.location %>
</p>

<%= link_to 'Edit', edit_project_summary_form_path(@project_summary_form) %> |
<%= link_to 'Back', home_path %>
