
	<div class="navbar navbar-inverse navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container-fluid">
				<button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<%= link_to "NOSSYM", root_path, class: "brand" %>
				<div class="nav-collapse collapse">
					<ul class="nav pull-right">
						<% if user_signed_in? %>
							<li><p class="navbar-text">Welcome,&nbsp;<a href="#" class="badge badge-info"><%= current_user.name.titlecase unless current_user.name == nil %>&nbsp;&#40;<%= current_user.email %>&#41;</a></p></li>
						<% else %>
							<li><%= link_to "Sign in", new_user_session_path, class: "btn-primary" %></li>
						<% end %>
					</ul>
					<ul class="nav">
						<li class="active"><%= link_to "Home", root_path %></li>
						<li><%= link_to "Help", help_path %></li>
						<li><%= link_to "Contact Us", contact_path %></li>
					</ul>
				</div><!--/.nav-collapse -->
			</div>
		</div>
	</div>
