<div class="sidebar-left">
  <div class="sidebar-scroll-left">
      <div class="sidebar-header-left">
        <!-- <= image_tag "misc/logo-sidebar.png", class: "sidebar-left-logo replace-2x", width:"125", alt:"img" %> -->
        <% if user_signed_in? %>
            <span class="sidebar-left-logo"><%= current_user.email %></span>
        <% else %>
            <span class="sidebar-left-logo">NOSSYM</span>
        <% end %>
          <a href="#" class="close-sidebar-left"></a>
      </div>
    
        <p class="sidebar-divider-text">NAVIGATION</p>
        <% if !user_signed_in? %>
            <%= link_to "Sign in", new_user_session_path, class: "nav-item", id:"sign-in" %>
        <% end %>
        <a href="#" class="nav-item coach-nav">WALKTHROUGH<em class="icon-page"></em></a>
        <a href="<%= root_url %>" class="nav-item home-nav">DASHBOARD<em class="icon-active"></em></a>
        <a href="#" id="submenu-one" class="nav-item blog-nav">FORMS<em class="icon-drop"></em></a>
            <div class="submenu submenu-one">
              <a href=""><em></em>PSF</a>
                <a href=""><em></em>Another Form</a>
                <a href=""><em></em>Another Form</a>
                <a href=""><em></em>Another Form</a>
                <a href=""><em></em>Another Form</a>
            </div>
        
        <a href="<%= help_path %>" class="nav-item coach-nav">Help<em class="icon-page"></em></a>
        <a href="<%= about_path %>" class="nav-item info-nav">About<em class="icon-page"></em></a>

        <% if user_signed_in? %>
            <%= link_to "Sign out", destroy_user_session_path, class: "nav-item", id:"sign-out", method: "delete" %>

        <% end %> 
        
        <p class="sidebar-divider-text">SETTINGS</p>
        <div class="sidebar-decoration"></div>

        <div class="sidebar-notifications">
            <%= link_to 'Profile', '#', class: "info-sidebar" %>
            <div class="sidebar-decoration"></div>
            <%= link_to 'Settings', '#', class: "info-sidebar" %>    
        </div>
        
        <div class="sidebar-decoration"></div>
        <p class="copyright-sidebar">Copyright 2013. All rights reserved!</p>
        
        
        <div class="sidebar-bottom-controls">
            <a href="#">
                <em class="twitter-bottom"></em>
                <p>Twitter</p>
            </a>
            <a href="#">
                <em class="facebook-bottom"></em>
                <p>Facebook</p>
            </a>
            <a href="#">
                <em class="close-bottom-left"></em>
                <p>Collapse</p>
            </a>
            <div class="clear"></div>
        </div>
    </div>
</div>