<nav class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-left" id="cbp-spmenu-s1">
	<% if user_signed_in? %>
		<h4>Welcome, <%= current_user.name %></h4>
	<% else %>
		<h4>NOSSYM</h4>
	<% end %>
		<%= link_to "Home", home_path %>
		<%= link_to "Help", help_path %>
		<%= link_to "Contact Us", contact_path %>
	<br>
	<h5><strong>Forms</strong></h5>
	<%= link_to 'PSF', new_project_summary_form_path %>
	<br>
	<% if user_signed_in? %>
		<h5><strong>Settings</strong></h5>
		<a href="#">Profile</a>
		<%= link_to "Sign out", destroy_user_session_path, method: "delete", class: "btn-danger text-center" %>
	<% end %>
</nav>

<nav class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-right" id="cbp-spmenu-s2">
	<h3>Menu</h3>
	<a href="#">Celery seakale</a>
	<a href="#">Dulse daikon</a>
	<a href="#">Zucchini garlic</a>
	<a href="#">Catsear azuki bean</a>
	<a href="#">Dandelion bunya</a>
	<a href="#">Rutabaga</a>
</nav>