<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="Keywords"     content="Epsilon, mobile, framework, css3, html5, javascript, retina" />
  <meta name="Description"  content="Epsilon based mobile retina webpp template!" />
  <!--Favicon shortcut link-->
  <link type="image/x-icon"  rel="shortcut icon" href="images/splash/favicon.ico" />
  <link type="image/x-icon"  rel="icon"      href="images/splash/favicon.ico" />
  <!--Declare page as mobile friendly --> 
  <meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0"/>
  <!-- Declare page as iDevice WebApp friendly -->
  <meta name="apple-mobile-web-app-capable" content="yes"/>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="preloader">
  <div id="status">
      <p class="center-text">
      Loading the content...
            <em>Loading depends on your connection speed!</em>
        </p>
    </div>
</div>

<% flash.each do |key, value| %>
    <%= content_tag(:div, value, class: "alert alert-#{key}") %>
  <% end %>


<div class="page-coach">
  <div class="portrait-coach">
        <span  style="top:-10px; left:50px;" class="coach-arrow arrow9">
            <p class="center-text" style="padding-top:20px; padding-left:75px;">Tap to deploy <br> sidebar menu!</p>
        </span>
        
        <span style="top:40px; right:10px;" class="coach-arrow arrow2">
            <p style="padding-top:85px; padding-left:105px;">Contact and subscribe from sidebar!</p>
        </span>
        
        <span style="top:180px; left:50px;" class="coach-arrow arrow1">
            <p class="center-text" style="padding-top:35px; padding-left:70px;">Touch enabled <br> image slider!</p>
        </span>
        
        <span style="top:280px; left:35%;" class="coach-arrow arrow16">
            <p class="center-text" style="padding-top:125px; margin-left:-100px;">Touch anywhere <br> to dismiss!</p>
        </span>

    </div>    
    <div class="landscape-coach">        
        <span style="left:47%; top:15%;" class="coach-arrow arrow12">
            <p style="text-align:center; padding-top:100px; margin-left:-160px;">
              This page has a lot of responsive features!<br>
                That means they expand when the device is in landscape!<br>
        Flip your device back in portrait mode to continue the tutorial!<br>      
            </p>
        </span>
    </div>
</div>

<div class="header">
  <a href="#" class="deploy-left-sidebar"></a>
  <a href="#" class="deploy-right-sidebar"></a>
  <%= link_to "NOSSYM", root_url, class:"top-logo" %>
</div>

<div class="content-box shadow">
    <div class="content">

        <div class="container no-bottom">
            <%= yield %> 
        </div>

        <div class="decoration"></div>
            
        <div class="container no-bottom">
           <h5 class="uppercase">THIS IS NOSSYM</h5>
           <p>The online management system for New Creation Christian Fellowship! </p> 
        </div>
        
        <div class="decoration"></div>
        
        <div class="container">
            <%= image_tag "icons-large/icon1@2x.png", class: "column-icon", width:"85", alt:"img" %>
            <h6 class="uppercase">Touch in our framework!</h6>
            <p class="no-bottom">We brought touch features to our framework! High compatibility and gracefull fallback! </p> 
        </div> 
        
        <div class="container">
            <%= image_tag "icons-large/icon2@2x.png", class: "column-icon", width:"85", alt:"img" %>
            <h6 class="uppercase">Very well optimized!</h6>
            <p class="no-bottom">We optimized drawer to a whole new level, making sure it works on Androids, RIMS, iOS's and Nokias alike! </p> 
        </div> 
        
        <div class="container">
            <%= image_tag "icons-large/icon3@2x.png", class: "column-icon", width:"85", alt:"img" %>
            <h6 class="uppercase">Documented for everyone!</h6>
            <p class="no-bottom">We made sure you'll get everything in here by making easy documentations that cover every feature! </p> 
        </div>
           
        <div class="decoration"></div>      
        <p class="center-text uppercase footer-text">
            Copyright 2013. All rights reserved!
        </p>
            
    </div>
</div>

<%= render 'layouts/left_nav' %>
<%= render 'layouts/right_nav' %>

</body>
</html>
