<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<%= render 'layouts/fav_touch' %>
	<title><%= full_title(yield(:title)) %></title>
	<meta name="description" content="">
	<meta name="author" content="">
	<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
	<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
	<%= csrf_meta_tags %>
</head>
<body>

	<%= render 'layouts/header' %>
	
	<div class="container center">
		<% flash.each do |key, value| %>
			<%= content_tag(:div, value, class: "alert alert-#{key}") %>
		<% end %>
	</div>




<div class="content-box shadow">
    <div class="content">
    
    	<div class="container">
        	<%= yield %>
     </div>
        
    </div>
</div>


	<%= render 'layouts/footer' %>

	<%= render 'layouts/left_nav' %>
	<%= render 'layouts/right_nav' %>

	<%= javascript_include_tag "duo/hammer" %>
	<%= javascript_include_tag "duo/swipe" %>
	<%= javascript_include_tag "duo/custom" %>
	<%= javascript_include_tag "duo/framework" %>
	

	<!-- <= javascript_include_tag "classie" %>
	<= javascript_include_tag "menu" %> -->
	<!-- <= render 'layouts/menu_js' %> -->
</body>
</html>
