<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="Keywords"     content="Epsilon, mobile, framework, css3, html5, javascript, retina" />
  <meta name="Description"  content="Epsilon based mobile retina webpp template!" />
  <!--Favicon shortcut link-->
  <link type="image/x-icon"  rel="shortcut icon" href="<%= asset_path 'splash/favicon.ico' %>" />
  <link type="image/x-icon"  rel="icon"      href="<%= asset_path 'splash/favicon.ico' %>" />
  <!--Declare page as mobile friendly --> 
  <meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0"/>
  <!-- Declare page as iDevice WebApp friendly -->
  <meta name="apple-mobile-web-app-capable" content="yes"/>
  <!-- iDevice WebApp Splash Screen, Regular Icon, iPhone, iPad, iPod Retina Icons -->
  <link rel="apple-touch-icon" sizes="114x114" href="<%= asset_path 'splash/splash-icon.png' %>"> 
  <link rel="apple-touch-startup-image" href="<%= asset_path 'splash/splash-screen.png' %>" media="screen and (max-device-width: 320px)" /> 
  <link rel="apple-touch-startup-image" href="<%= asset_path 'splash/splash-screen@2x.png' %>" media="(max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2)" /> 
  <link rel="apple-touch-startup-image" href="<%= asset_path 'splash/splash-screen@3x.png' %>" sizes="640x1096">
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="preloader">
  <div id="status">
      <p class="center-text">
      Loading the content...
            <em>Loading depends on your connection speed!</em>
        </p>
    </div>
</div>

<div class="page-coach">
  <div class="portrait-coach">
        <span  style="top:-10px; left:50px;" class="coach-arrow arrow9">
            <p class="center-text" style="padding-top:20px; padding-left:75px;">Tap to deploy <br> sidebar menu!</p>
        </span>
        
        <span style="top:40px; right:10px;" class="coach-arrow arrow2">
            <p style="padding-top:85px; padding-left:105px;">Contact and subscribe from sidebar!</p>
        </span>
        
        <span style="top:180px; left:50px;" class="coach-arrow arrow1">
            <p class="center-text" style="padding-top:35px; padding-left:70px;">Touch enabled <br> image slider!</p>
        </span>
        
        <span style="top:280px; left:35%;" class="coach-arrow arrow16">
            <p class="center-text" style="padding-top:125px; margin-left:-100px;">Touch anywhere <br> to dismiss!</p>
        </span>

    </div>    
    <div class="landscape-coach">        
        <span style="left:47%; top:15%;" class="coach-arrow arrow12">
            <p style="text-align:center; padding-top:100px; margin-left:-160px;">
              This page has a lot of responsive features!<br>
                That means they expand when the device is in landscape!<br>
        Flip your device back in portrait mode to continue the tutorial!<br>      
            </p>
        </span>
    </div>
</div>

<div class="header">
  <a href="#" class="deploy-left-sidebar"></a>
  <a href="#" class="deploy-right-sidebar"></a>
  <%= link_to "NOSSYM", root_url, class:"top-logo" %>
</div>

<div class="content-box shadow">
  <div class="container center">
    <% flash.each do |key, value| %>
        <%= content_tag(:div, value, class: "alert alert-#{key}") %>
    <% end %>
  </div>

  <div class="content">
      <div class="container no-bottom">
          <%= yield %> 
      </div>    
  </div>
</div>

<%= render 'layouts/left_nav' %>
<%= render 'layouts/right_nav' %>

</body>
</html>
